# server env
*.swo
*.swp
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea/
.vscode/
archive/
dist
npm-debug.log*
server/.env
yarn-debug.log*
yarn-error.log*
node_modules
